<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lojas</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Android Stduio</string>
			<key>id</key>
			<string>1</string>
			<key>telefone</key>
			<string>(81) 3465-0787</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Eclipse ADT</string>
			<key>id</key>
			<string>2</string>
			<key>telefone</key>
			<string>(81) 3356-4180</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Espresso 2.2</string>
			<key>id</key>
			<string>3</string>
			<key>telefone</key>
			<string>(81) 3336-2565</string>
		</dict>
	</array>
</dict>
</plist>
